.content{
    display: flex;
}

.info{
    margin-top: 10%;
}

.header{
    display: flex;
    margin-top: 10%;
    margin-left: 14%;
    width: 100%;
}

.main{
    font-family: "Poppins", serif;
    font-size: 50px;
    font-weight: bold;
    color: #1989cf;
}

.mainex{
    font-family: "Poppins", serif;
    font-size: 50px;
    font-weight: bold;
    color: #1989cf;
    margin-left: 10px;
    animation: bounce 1s infinite linear;
}


@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.homecnt{
    height: 200px;
    width: 300px;
    text-align: center;
    margin-left: 14%;
    font-family: "Poppins", serif;
    color: #333;
}

.apply{
    height: 40px;
    width: 100px;
    font-family: "Poppins", serif;
    border: none;
    border-radius: 5px;
    background-color: #1989cf;
    color: white;
    margin-left: 14%;
    margin-top: 5%;
}

button:hover{
    background-color: #333;
    cursor: pointer;
}

img{
    margin-left: 50%;
    margin-top:7%;
    height: 500px;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-size: 10% 100%;
}

